/* /* @charset "utf-8"; */

 h1{
    font-size: 18px;
    border-bottom: 1px solid;
    margin-bottom: 16px;
    padding: 8px 16px;
}

dl{
    margin: 0;
}

dt{
    position: relative;
    cursor: pointer;
    user-select: none;
}

dd{
    margin: 0;
    display: none;
}

dl>div{
    margin-bottom: 16px;
}

dl>div.appear dd{
    display: block;
    animation: .3s fadeIn;
}

dt::before{
    content: 'Q. ';
}

dt::after{
    content: '+';
    position: absolute;
    right: 16px;
     transition: transform .3s;
}

dl>div.appear dt::after{
    transform: rotate(45deg);
}


dd::before{
    content: 'A. ';
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }

    100%{
        opacity: 1;
        transform: none;
    }
} 









 


